body, .container-fluid, .Aide-text, .section, .faq-item {
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
}

.faq-item h3 {
    margin-left: 20px;
    font-size: 1.2em;
}

.faq-item p {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Aide-text p {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.faq-item img {
    background-color: blue;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

