
/* css de la barre de navigation dans navbar.twig et de la page d'accueil*/



* {
    font-family: 'Courier New';
}

.navBar {
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 1rem;
    width: 250px;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.navBar.collapsed {
    width: 80px;
}

.navBar a {
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease, padding 0.3s ease;
}

.navBar.collapsed a {
    justify-content: center;
    padding: 0.75rem;
}

.navBar a:hover,
.navBar .active {
    background-color: #007bff;
    color: #fff;
}

.navBar img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    transition: margin-right 0.3s ease;
}

.navBar.collapsed img {
    margin-right: 0;
}

.collapse-btn {
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.collapse-btn.active {
    background-color: #007bff;
}

.collapse-btns {
    margin-top: auto;
}

.collapse-btns a {
    display: block;
    padding: 0.75rem 1rem;
}

.navBar.collapsed .text {
    display: none;
}

.Acc-text {
    color: darkblue;
    text-align: center;
}

.Aide-text {
    color: darkblue;
    text-align: end;
}
