<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css" />

    <title>Accueil</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">

                    <div class="Acc-text">
                        <h1>stage BTS</h1>
                        <p>Bienvenue sur la page de gestion des stages</p>
                        <hr>

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>